# Site wide configuration

title:            Samantha Quiñones
locale:           en_US
url:


# Jekyll configuration

permalink:   /:categories/:year/:month/:day/:title.html
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: :compressed
gems:
  - jekyll-sitemap


kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false

defaults:
  -
    scope:
      path: ""
      type: posts
    values:
      comments: true

# Site owner
owner:
  name: Samantha Quiñones
  avatar: smq_headshot_300square.jpg
  bio: "Polyglot hacker, writer, musician, speaker. Principal engineer @AOL."
  email: #nope
  disqus-shortname: ieatkillerbees
  twitter: ieatkillerbees
  facebook: samantha.quinones.tembies
  google:
    plus: SamanthaQuiñonesTembies
    analytics: UA-39817287-1
    verify: 
    ad-client: 
    ad-slot: 
  bing-verify: 
  github: squinones
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: samanthaquinones
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
