---
layout: page
title: Calendar
header: Upcoming Events
group: navigation
---

	<ul id="event-calendar">
		{% for event in site.data.events %}
		<li>
			<span class="event-date">{{ event.date | date: "%A, %-d %B, %Y" }} - {{ event.location }}</span><br />
			<span class="event-name">
				{% if event.link %}
			    	<a href="{{ event.link }}">{{event.name}}</a>
				{% else %}
					{{ event.name }}
				{% endif %}
			</span>
			<br />
			<span class="event-talk">
			{% if event.slides %}
				<a href="{{ event.slides }}">{{ event.talk }}</a>
			{% else %}
				{{ event.talk }}
			{% endif %}
			</span>
			<br />
			{% if event.description %}
			    <span class="event-description">{{ event.description }}</span><br />
			{% endif %}
			<hr />
		</li>		
		{% endfor %}
	</ul>
