@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
/*	position: fixed;*/
	top: 0px;
	padding-top: 2%;
		background-color: #462C50; /* #2c3e50;*/
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

.content-body {
	margin-left: 0;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: Consolas, monaco, monospace;
	font-size: 12px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #6B6025;
}

#bio span.author-name {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	color: #CEC590;
}

a.read-more {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list {
	padding-bottom: 20px;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

/*#twitter-widget:*/

#conference-schedule {
	padding-right: 50px;
}

.page-header {
	color: #e74c3c;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	margin-bottom: 0px;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

div.post-header {
	font-variant: small-caps;
	color: #A2A2A2;
}

div.post-header a {
	color: #A2A2A2 !important;
}

span.post-date {
	font-size: 14px;
	font-variant: small-caps;
	margin-bottom: 10px;
	display: inline-block;
}

div.page-header span.post-date {
	color: #A2A2A2;
	text-shadow: none;
	margin-left: 1.5em;
}

.comment-count i {
	margin-right: 4px;
	margin-left: 10px;
}

article {
	padding: 0 5% 0;
}

article p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

article.home h1.post-title {
	margin-bottom: 0px;
	font-variant: small-caps;
	font-size: 28px;
}

article.home div a {
	color: #f2756a;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 15px;
    right: 45px;
    z-index: 2000;
}

#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

#navbar {
	position: fixed;
	right: 0px;
	margin: 0;
	min-height: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#navbar ul {
	padding: 0;
	padding-right: 15px;
	margin: 0;
	text-align: right;
}

#navbar li {
	display: inline;
	list-style-type: none;
}

#navbar i.fa {
	margin-left: 1em;
	margin-right: 2px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

#event-calendar li {
	list-style-type: none;
	margin-bottom: 15px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#event-calendar span.event-date {
	font-weight: bold;
}

#event-calendar span.event-name {
	font-style: italic;
}

#event-calendar span.event-talk {
	font-weight: bold;
	font-size: 0.95em;
}

#event-calendar span.event-description {
	font-style: oblique;
	color: #6E6E6E;
	font-size: 0.9em;
	margin-left: 2em;
	display: inline-block;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

div#about-page {
	margin-left: 2em;
}
div#about-page p, li {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#event-calendar hr {
	width: 60%;
}

.highlight {
    margin: 2em;
}

.vignette {
    -webkit-box-shadow: inset 0px 0px 85px rgba(255, 255, 255, 1);
    -moz-box-shadow:    inset 0px 0px 85px rgb(255, 255, 255, 1);
    box-shadow:         inset 0px 0px 85px rgba(255, 255, 255, 1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 0;         /* ensure no space between bottom */

    display: inline-block;  /* don't go wider than image */
}

.vignette img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: -1;            /* position beneath */
}

footer p {
	font-size: .8em;
}